# Equal-Weight S&P 500 Index Fund

## Introduction

The goal of this Notebook is to evenly distribute the investment across a list of stocks, so that you can determine how many shares of each stock you can buy with your allocated amount per stock.

By evenly distributing your total investment and calculating how many shares you can buy with each allocation, you manage your investment risk and ensure a diversified portfolio.

## Installing and importing required libraries

In [16]:
# pip install yfinance

In [17]:
import yfinance as yf
import pandas as pd
import numpy as np

## Load the list of SP500 stocks list

Here, I downloaded it fromt the internet. We can also do web scrpaing to get the data from any page.

In [18]:
# Load the S&P 500 stock symbols from the CSV file
sp500_stocks = pd.read_csv('sp_500_stocks.csv')

## Get the stock data for the SP500 list

Use the yfinance python library to get the required data.

In [19]:
# Initialize an empty list to store the results
data = []

# Iterate through each stock symbol in the CSV file
for symbol in sp500_stocks['Ticker']:
    try:
        # Fetch the stock data using yfinance
        stock = yf.Ticker(symbol)
        stock_info = stock.info

        # Get the stock price and market cap
        stock_price = stock_info.get('currentPrice', None)
        market_cap = stock_info.get('marketCap', None)

        # Append the data to the list
        data.append([symbol, stock_price, market_cap, 0])

    except Exception as e:
        print(f"Failed to get data for {symbol}: {e}")
        data.append([symbol, None, None, 0])

# Create a DataFrame from the collected data
data = pd.DataFrame(data, columns=['Ticker', 'Stock Price', 'Market Capitalization', 'Stocks to Buy'])

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ABC?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ABC&crumb=cYjiLcOysP.
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ABMD?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ABMD&crumb=cYjiLcOysP.
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/ATVI?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=ATVI&crumb=cYjiLcOysP.
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/DISH?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=DISH&crumb=cYjiLcOysP.
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/FLT?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=FLT&crumb=cYjiLcOysP.
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/PEAK?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=PEAK&crumb=cYjiLcOysP.
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/PXD?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=PXD&crumb=cYjiLcOysP.
404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/RE?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=RE&crumb=cYjiLcOysP.

In [20]:
data

    Ticker  Stock Price  Market Capitalization  Stocks to Buy
0        A       140.04           4.085821e+10              0
1      AAL        10.05           6.599875e+09              0
2      AAP        62.19           3.707911e+09              0
3     AAPL       226.05           3.436887e+12              0
4     ABBV       193.90           3.424933e+11              0
..     ...          ...                    ...            ...
500    YUM       137.40           3.863207e+10              0
501    ZBH       110.65           2.253409e+10              0
502   ZBRA       344.14           1.775088e+10              0
503   ZION        46.59           6.881203e+09              0
504    ZTS       183.71           8.323001e+10              0

[505 rows x 4 columns]

Check for `None` values.

In [21]:
print(data.isna().sum())

Ticker                    0
Stock Price              42
Market Capitalization    44
Stocks to Buy             0
dtype: int64

Check the stocks with `None` rows.

In [22]:
# Find rows where any value is NaN
rows_with_nan = data[data.isna().any(axis=1)]

# Print rows with NaN values
print(rows_with_nan)

    Ticker  Stock Price  Market Capitalization  Stocks to Buy
5      ABC          NaN                    NaN              0
6     ABMD          NaN                    NaN              0
28    ALXN          NaN                    NaN              0
39    ANTM          NaN                    NaN              0
48    ATVI          NaN                    NaN              0
61    BF.B          NaN                    NaN              0
68     BLL          NaN                    NaN              0
71   BRK.B          NaN                    NaN              0
88    CERN          NaN                    NaN              0
107    COG          NaN                    NaN              0
118    CTL          NaN                    NaN              0
121   CTXS          NaN                    NaN              0
124    CXO          NaN                    NaN              0
135  DISCA          NaN                    NaN              0
136  DISCK          NaN                    NaN              0
137   DISH          NaN                    NaN              0
143    DRE          NaN                    NaN              0
165   ETFC          NaN                    NaN              0
177     FB          NaN                    NaN              0
178   FBHS          NaN                    NaN              0
184   FISV       114.23                    NaN              0
186   FLIR          NaN                    NaN              0
188    FLT          NaN                    NaN              0
192    FRC          NaN                    NaN              0
219    HFC          NaN                    NaN              0
241   INFO          NaN                    NaN              0
273    KSU          NaN                    NaN              0
325   MXIM          NaN                    NaN              0
326    MYL          NaN                    NaN              0
327    NBL          NaN                    NaN              0
335   NLOK          NaN                    NaN              0
336   NLSN          NaN                    NaN              0
360   PBCT          NaN                    NaN              0
362   PEAK          NaN                    NaN              0
372    PKI          NaN                    NaN              0
386    PXD          NaN                    NaN              0
391     RE          NaN                    NaN              0
410   SIVB       106.04                    NaN              0
437    TIF          NaN                    NaN              0
448   TWTR          NaN                    NaN              0
465    VAR          NaN                    NaN              0
467   VIAC          NaN                    NaN              0
484   WLTW          NaN                    NaN              0
495   XLNX          NaN                    NaN              0

Create a copy of the original dataframe so that we don't manipulate the original dataframe.

In [23]:
final_df = data.copy(deep=True)

Drop `None` values.

In [24]:
# Assuming final_df is your DataFrame
final_df = final_df.dropna()

# Reset the index and drop the old index column
final_df = final_df.reset_index(drop=True)

In [25]:
print(final_df.isna().sum())
rows_with_nan = final_df[final_df.isna().any(axis=1)]
print(rows_with_nan)

Ticker                   0
Stock Price              0
Market Capitalization    0
Stocks to Buy            0
dtype: int64
Empty DataFrame
Columns: [Ticker, Stock Price, Market Capitalization, Stocks to Buy]
Index: []

## Calculating the Number of Shares to Buy

This represents the total amount of money you have to invest. In this case, it's $100,000.

In [26]:
portfolio_size = 100000

You want to evenly distribute your total investment amount (portfolio_size) across all the stocks.
- `len(final_df.index)` gives you the number of stocks in your DataFrame.
- `position_size` is the amount of money you will allocate to each stock. It's calculated by dividing the total portfolio size by the number of stocks

In [27]:
position_size = portfolio_size/len(final_df.index)

For each stock, you want to determine how many shares you can buy with the allocated amount (`position_size`).

`position_size // final_df['Stock Price']` calculates the number of shares you can buy of each stock with the allocated amount.

In [28]:
final_df['Stocks to Buy'] = position_size // final_df['Stock Price']

## Final Output

In [29]:
final_df

    Ticker  Stock Price  Market Capitalization  Stocks to Buy
0        A       140.04           4.085821e+10            1.0
1      AAL        10.05           6.599875e+09           21.0
2      AAP        62.19           3.707911e+09            3.0
3     AAPL       226.05           3.436887e+12            0.0
4     ABBV       193.90           3.424933e+11            1.0
..     ...          ...                    ...            ...
456    YUM       137.40           3.863207e+10            1.0
457    ZBH       110.65           2.253409e+10            1.0
458   ZBRA       344.14           1.775088e+10            0.0
459   ZION        46.59           6.881203e+09            4.0
460    ZTS       183.71           8.323001e+10            1.0

[461 rows x 4 columns]

In [30]:
final_df.to_csv("1.Equal Weight - Stocks to buy.csv")

From the above dataframe, we can see the column `Stocks to Buy` which tells us the number of stocks to buy with allocatde portfolio in SP500 stocks.